<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documentation Website</title>
  <!-- Bootstrap cdn -->
  <link rel="stylesheet" href="./dist/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-4 col-sm-5 col-6 bg-primary vh-100 overflow-auto">
        <div class="brand bg-dark p-4">
          <h1 class="text-white font-weight-bold text-center">Liquid Template Engine 101</h1>
        </div>
        <!-- /.brand -->
        <div class="toc p-4 border-top border-lighter" id="sidebar-accordion">
          <h4 class="text-white font-weight-bold">Basics</h4>
          <div class="toc-menu-item d-flex justify-content-between pt-3 ml-3 mb-2 border-bottom border-lighter" data-toggle="collapse" data-target="#introduction-ul">
            <h5 class="text-white">Introduction</h5>
            <img src="./assets/svgs/caret-bottom-white.svg" alt="caret-bottom">
          </div>
          <ul class="collapse show list-unstyled mb-0 pl-3" id="introduction-ul" data-parent="#sidebar-accordion">
            <li><a href="index.html" class="text-lighter">Introduction</a></li>
            <li><a href="operators.html" class="active">Operators</a></li>
            <li><a href="#!" class="text-lighter">Truthy &amp; Falsy</a></li>
            <li><a href="#!" class="text-lighter">Types</a></li>
            <li><a href="#!" class="text-lighter">Variations of Liquid</a></li>
            <li><a href="#!" class="text-lighter">Whitespace control</a></li>
          </ul>
          <div class="toc-menu-item d-flex justify-content-between pt-3 ml-3 mb-2 border-bottom border-lighter" data-toggle="collapse" data-target="#tags-ul">
            <h5 class="text-white">Tags</h5>
            <img src="./assets/svgs/caret-bottom-white.svg" alt="caret-bottom">
          </div>
          <ul class="collapse list-unstyled mb-0 pl-3" id="tags-ul" data-parent="#sidebar-accordion">
            <li><a href="#!" class="text-lighter">Comment</a></li>
            <li><a href="#!" class="text-lighter">Control Flow</a></li>
            <li><a href="#!" class="text-lighter">Iteration</a></li>
            <li><a href="#!" class="text-lighter">Raw</a></li>
            <li><a href="#!" class="text-lighter">Variable</a></li>
          </ul>
          <div class="toc-menu-item d-flex justify-content-between pt-3 ml-3 mb-2 border-bottom border-lighter" data-toggle="collapse" data-target="#filters-ul">
            <h5 class="text-white">Filters</h5>
            <img src="./assets/svgs/caret-bottom-white.svg" alt="caret-bottom">
          </div>
          <ul class="collapse list-unstyled mb-0 pl-3" id="filters-ul" data-parent="#sidebar-accordion">
            <li>
              <a href="#!" class="text-lighter">abs</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">append</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">at_least</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">at_most</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">capitalize</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">ceil</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">compact</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">concat</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">date</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">default</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">divided_by</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">downcase</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">escape</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">escape_once</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">first</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">floor</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">join</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">last</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">lstrip</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">map</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">minus</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">modulo</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">newline_to_br</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">plus</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">prepend</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">remove</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">remove_first</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">replace</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">replace_first</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">reverse</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">round</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">rstrip</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">size</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">slice</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">sort</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">sort_natural</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">split</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">strip</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">strip_html</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">strip_newlines</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">times</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">truncate</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">truncatewords</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">uniq</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">upcase</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">url_decode</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">url_encode</a>
            </li>
            <li>
              <a href="#!" class="text-lighter">where</a>
            </li>
          </ul>
        </div>
        <!-- /.toc -->
      </div>
      <!-- /.col-4 -->
      <div class="col-lg-9 col-md-8 col-sm-7 col-6 vh-100 overflow-auto">
        <div class="main-content py-4">
          <h1 class="border-bottom border-primary mb-4 pb-2">Operators</h1>
          <p class="mb-5">Liquid includes many logical and comparison operators.</p>
          <h2 class="border-bottom mb-4 pb-2">Basic operators</h2>
          <table class="table table-bordered w-auto my-4">
            <tbody>
              <tr>
                <td><span class="badge badge-dark">==</span></td>
                <td>equals</td>
              </tr>
              <tr>
                <td><span class="badge badge-dark">!=</span></td>
                <td>does not equals</td>
              </tr>
              <tr>
                <td><span class="badge badge-dark">&gt;</span></td>
                <td>greater than</td>
              </tr>
              <tr>
                <td><span class="badge badge-dark">&lt;</span></td>
                <td>less than</td>
              </tr>
              <tr>
                <td><span class="badge badge-dark">&gt;=</span></td>
                <td>greater than or equal to</td>
              </tr>
              <tr>
                <td><span class="badge badge-dark">&lt;=</span></td>
                <td>less than or equal to</td>
              </tr>
              <tr>
                <td><span class="badge badge-dark">or</span></td>
                <td>logical or</td>
              </tr>
              <tr>
                <td><span class="badge badge-dark">and</span></td>
                <td>logical and</td>
              </tr>
            </tbody>
          </table>
          <p>For Example:</p>
          <div class="bg-dark p-3 my-4">
            <pre class="m-0 text-light"><code>{% if <span class="text-warning">product.title</span> == <span class="text-danger">"Awesome Shoes"</span> %}<br></code>  <code>  <span class="text-white">The shoes are awesome!</span></code><br><code>{% endif %}</code></pre>
          </div>
          <p>You can use multiple operators in a tag:</p>
          <div class="bg-dark p-3 mt-4 mb-5">
            <pre class="m-0 text-light"><code>{% if <span class="text-warning">product.type</span> == <span class="text-danger">"Shirt"</span> or <span class="text-warning">product.type</span> == <span class="text-danger">"Shoes"</span> %}<br></code>  <code>  <span class="text-white">This is a shirt or a pair of shoes.</span></code><br><code>{% endif %}</code></pre>
          </div>
          <h2 class="border-bottom mb-4 pb-2">contains</h2>
          <p><kbd>contains</kbd> checks for the presence of a substring inside a string.</p>
          <div class="bg-dark p-3 my-4">
            <pre class="text-light m-0"><code>{% if <span class="text-warning">product.title</span> contains <span class="text-danger">"Pack"</span> %}</code><br>  <code>This product's title contains the word Pack.</code><br><code>{% endif %}</code></pre>
          </div>
          <p><kbd>contains</kbd> can also check for the presence of a string in an array of strings.</p>
          <div class="bg-dark p-3 my-4">
            <pre class="text-light m-0"><code>{% if <span class="text-warning">product.tags</span> contains <span class="text-danger">"Hello"</span> %}</code><br>  <code>This product has been tagged with "Hello".</code><br><code>{% endif %}</code></pre>
          </div>
          <p class="mb-5"><kbd>contains</kbd> can only search strings. You cannot use it to check for an object in an array of objects.</p>
          <h2 class="border-bottom mb-4 pb-2">Order of operations</h2>
          <p>In tags with more than one <kbd>and</kbd> or <kbd>or</kbd> operator, operators are checked in order <i>from right to left</i>. You cannot change the order of operations using parentheses — parentheses are invalid characters in Liquid and will prevent your tags from working.</p>
        </div>
      </div>
      <!-- /.col-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->






  <!-- JS, Popper.js, and jQuery -->
  <script src="./dist/jquery.min.js"></script>
  <script src="./dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>