*{
  /* outline: 1px solid rgba(255,0,0,0.2); */
}
.border-lighter{
  border-color: rgba(255,255,255,0.3) !important;
}
.text-lighter{
  color: #ccc;
}
a.text-lighter:hover{
  color: white;
  text-decoration: none;
}
.left-0{
  left: 0 !important;
}



/* Custom Styling */
.mobile-toc-toggle{
  display: none;
}
.toc h5{
	font-weight: 600;
}
.toc a{
	text-decoration: none !important;
}
.toc ul a.active{
  color: var(--warning);
  font-weight: bold;
}
.toc-menu-item:hover{
	cursor: pointer;
}


.main-content{
	padding-left: 100px;
	padding-right: 100px;
  background-color: #f4f4f4;
}
.main-content p{
  line-height: 1.9;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4{
  font-family: serif;
  font-weight: bold;
  color: var(--primary);
}





/*~~~~~~ Media Queries ~~~~~~*/
@media (max-width: 991.98px){
  .main-content{
    padding-left: 30px;
    padding-right: 30px;
  }
}



@media (max-width: 767.98px){
  #sidebar{
    width: 250px !important;
    max-width: none;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 5;
    transition: left 0.25s ease-out;
  }
  .mobile-toc-toggle{
    display: inline-block;
    position: absolute;
    bottom: 100px;
    right: -50px;
  }
  .brand-name{
    font-size: 24px;
  }
  .main-content{
    padding-left: 20px;
    padding-right: 20px;
  }
}